div{
    width: 367px;
    height: 260px;
    background-color: darkgray;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 90px;
    box-sizing: border-box;
    color: white ;
}
nav{
    border: 1px dotted black;
     width: 367px;
}

